.marquee-item {
    background-color: inherit;
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
}

#sections-gradient-container {
    background-image: url('../../public/icons/gradients/Desktop/gradient_yellow_orange.png');
    background-repeat: no-repeat;
    background-position: -70% 30%;
    background-size: 70%;
}


.marquee-item > p:first-child {
    font-family: "NyghtSerif", serif !important;
    font-weight: normal;
    font-size: 30px !important;
    font-style: italic;
}

@media (max-width: 767px) {
    .marquee-item > p:first-child {
        font-size: 18px !important;
    }
}

#teachers-content, #teacher-content, #classes-content, #class-content, #abonements-page, #calendar-page, #contacts-page {
    padding: 78px 0 0 0;
}

.loader {
    display: flex;
    z-index: 5;
    position: relative;
    justify-content: center;
    align-content: center;
    width: 100%;
    :first-child {
        position: relative;
        z-index: 5;
    }
}

#abonements-page .picker_button {
    min-width: 0;
    border-radius: 0;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: Capitalize;
    font-size: 14px;
    border: none;
    padding: 10px 16px;
}