#teachers-content {
    background-repeat: no-repeat;
    background-position: -25% 120%;
    @media (max-width: 1024px){
        padding-left: 30px;
        padding-right: 30px;
        .marquee-container {
            transform: translateX(-30px);
            width: 99.99vw;
        }
    }
    @media (max-width: 768px) {
        background-position: 10% -50%;
    }
    .cards, .actions {
        max-width: 960px;
        width: 100%;
        justify-self: center;
        align-self: center;
    }
    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 100px;
        padding-bottom: 100px;
        .teacher-card {
            transition: all 200ms ease-in-out;
        }
        .teacher-card:hover {
            transform: scale(1.05);
        }
        @media (max-width: 1024px) {
            justify-content: center;
        }
    }
    .actions {
        padding-top: 64px;
        padding-bottom: 64px;
        .actions-content {
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .title {
                max-width: 440px;
            }

            @media (max-width: 768px) {
                justify-content: center;
                gap: 40px;
                .title > * {
                    text-align: center;
                }
            }

            button {
                align-self: center;
                max-width: 274px;
                width: 100%;
            }
        }
    }

    .rating {
        position: relative;
        display: flex;
        flex-direction: row;
        padding-right: 17px;
        padding-top: 17px;
        .rating-content {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            margin-left: auto;
            :first-child, .rating-text {
                grid-column: 1/-1;
                grid-row: 1/-1;
            }
            .rating-text {
                text-align: center;
                align-self: center;
            }
        }
    }
}