.bar-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("Section_Six_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 90%;
    padding-top: 60px;
    padding-bottom: 80px;
}

.bar-description_controls {
    align-items: center;
}

.location {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 190px;
    height: 474px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #E2D9B5 100%), url("Section_Six_findUs.png");
    background-size: 100% 460px;
    background-position-x: center;
    background-position-y: 80%;
}




#Landing-section-five .location-content {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    max-width: 965px;
    width: 100%;
}

.location-content .arrows {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 40px;
    max-width: 230px;
}

.location-content .arrows img:first-child {
    margin-left: 72px;
    transform: translateY(2%);
}

.location-content .arrows img:last-child {
    max-width: 80px;
}

.location-content .title {
    max-width: 434px;
    width: 100%;
    letter-spacing: 1.5px !important;
    padding-top: 50px;
}

.location .location-details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 300px;
    width: 100%;
}

.location .location-link {
    cursor: pointer;
    text-transform: lowercase;
    font-weight: bold;
}

@media (max-width: 767px) {
    .location {
        background-size: 115% 115%;
        background-position-y: 0;
        padding-top: 110px;
        height: auto;
        padding-bottom: 120px;
    }
    #Landing-section-five .location-content {
        flex-direction: column;
        padding: 0 30px;
    }

    #Landing-section-five .location .location-details {
        max-width: max-content;
        text-wrap: balance;
    }

    .location-details .location-link, .location-content > .arrows {
        display: none;
    }

    .mobile-route {
        display: flex;
        flex-direction: row;
    }

    .mobile-route .location-link {
        flex-basis: 60%;
        font-size: 18px;
        text-wrap: balance;
        padding-top: 36px;
        flex-grow: 2;
    }

    .mobile-route .arrows {
        padding-left: 0;
        padding-right: 0;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .mobile-route .arrows img {
        position: relative;
        &:first-child {
            max-width: 48px;
            height: 48px;
            margin-left: 0;
            rotate: 120deg;
            transform: none;
        }
        &:last-child {
            max-width: 56px;
            margin-block-start: 20px;
            rotate: 90deg;
            transform: none;
        }
    }

    .location-content .title {
        padding-top: 0;
    }

}


@media (max-width: 767px) {
    .bar-description {
        background-size: 200% 200%;
        background-position-y: 100%;
        background-position-x: 100%;
    }

}
