.Footer {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.Footer .links-box {
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 767px) {
        padding: 0 30px;
        font-size: 14px;
    }
}

.Footer .links-box .MuiList-root, .Footer .links-box .MuiList-root li {
    padding: 0 !important;
}

.Footer .links-box .MuiList-root li a {
    font-weight: 200;
}

.Footer .links-box .links_left {
    display: flex;
    flex-direction: row;
    gap: 106px;

    @media (max-width: 767px) {
        & {
            gap: 0;
            flex-direction: column;
        }
       & .footer-link, & #branding {
           padding-top: 10px;
           padding-bottom: 10px;
       }
    }
}


.Footer .links-box .links_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Footer .footer-link, .Footer #branding {
    padding-top: 26px;
    padding-bottom: 26px;
    @media (max-width: 767px) {
        padding: 10px 0;
    }
}