

.language-select {
 display: flex;
 flex-direction: row;
}

.language-select .active {
 font-weight: 700;
}


@media (max-width: 960px) {
 .MuiBox-root[data-dropdown] {
  transition: all 0.3s ease-in-out;
 }
}